<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/mainStyle.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="baseDiv wrapperDiv">
      <div class="wingDiv"></div>
      <div class="centerDiv">
        <h1>Cat's Bird Camera</h1>
        <button id="photoBtn">Take Photo</button>
      </div>
      <div class="wingDiv"></div>
    </div>

    <script src="" async defer></script>
    <script>
      document
        .getElementById("photoBtn")
        .addEventListener("click", triggerPhoto);

      function triggerPhoto() {
        var xhttp = new XMLHttpRequest();

        xhttp.open("GET", "localhost:5000/takeStill", true);
        xhttp.send();
      }
    </script>
  </body>
</html>
