<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styleExtras.css') }}"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <div class="jumbtron">
      <div class="container">
        <h1>Cat's Bird Camera</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 centerDiv">
          <p>Hit the button below to take a picture! (gallery coming soon!)</p>
          <a
            href="/takeStill"
            id="photoBtn"
            type="button"
            class="btn btn-primary"
          >
            Take Photo
          </a>

          <br />

          <div id="photoResponse" class="alert" role="alert">
            {{ message }}
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <script src="" async defer></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>

    <script>
      // document
      //   .getElementById("photoBtn")
      //   .addEventListener("click", triggerPhoto);

      // function triggerPhoto() {
      //   var xhttp = new XMLHttpRequest();

      //   xhttp.open("GET", "/takeStill", true); // does work
      //   xhttp.send();
      // }

      // function messageClass(varResponse) {
      //   if (varResponse === "Photo Taken") {
      //     document.getElementById("photoResponse").style.display = "visible";
      //     document.getElementById("photoResponse").className +=
      //       " alert-success";
      //   } else if (varResponse === "Photo Failed") {
      //     document.getElementById("photoResponse").style.display = "visible";
      //     document.getElementById("photoResponse").className += " alert-danger";
      //   } else {
      //     document.getElementById("photoResponse").style.display = "none";
      //   }
      // }

      function imageLoader() {
        var dir = "../../cameraShots/";
        var fileextension = ".jpg";
        $.ajax({
          //This will retrieve the contents of the folder if the folder is configured as 'browsable'
          url: dir,
          success: function (data) {
            //List all .png file names in the page
            $(data)
              .find("a:contains(" + fileextension + ")")
              .each(function () {
                var filename = this.href
                  .replace(window.location.host, "")
                  .replace("http://", "");
                $("body").append("<img src='" + dir + filename + "'>");
              });
          },
        });
      }

      // messageClass(response);
      imageLoader();
    </script>
  </body>
</html>
